<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CSharp6_Preview.Tests" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="CSharp6 Preview.Tests" android:icon="@drawable/Icon"></application>
</manifest>